---
layout: page
title: Enjoy life !
---
<ul class="posts">
    {% for post in paginator.posts %}
    <li class="post">
        <small>{{ post.date | date_to_string }}</small>
        <small><a style="color:grey" href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a></small>
        <br>
        <a class="nice-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <p class="nice-text">{{ post.content | strip_html | truncatewords: 1 }} <a href="{{ post.url | relative_url }}">更多!</a></p>
    </li>
    {% endfor %}
    <!-- {% include pagination.html %} -->
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      上一页
    </a>
  {% else %}
    <span class="previous">上一页</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">下一页</span>
  {% endif %}
</div>



<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'nagekar';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
